#page-footer {
  width: 100%;
  background-color: #169b4f;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  clear: both;
  a {
    color: white;
  }

  i {
    font-size: 30px;
  }
}

.container-general-info h4 {
  margin-top: 0;
}

.footer-wrapper {
  padding: 40px 0;
  overflow: auto;

  img {
    display: none;
  }
}

/*
    LARGER THAN 1000px
*/

@media all and (min-width: 992px) {
  hr {
    display: none;
  }

  .container-general-info {
    p {
      display: inline;
      padding: 0 10px;
    }
  }

  .oijared-container {
    display: flex;
    padding: 0 0 20px 0;
    color: white;
    text-align: center;

    > div {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      min-height: 300px;

      &:nth-child(3) {
        border: 0;
      }
    }
  }

  .image-container {
    width: 100%;
    overflow: auto;

    img {
      display: initial;
      height: 150px;
      float: none;
    }
  }
}
