.menu-container-outer {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
}
.menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu-container header {
  display: flex;
  padding: 0 1rem;
}

.menu-title {
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
  color: #4a4a4a;
}

.menu-navigation {
  display: none;
  width: 100%;
}

.menu-navigation.show {
  display: flex;
}

.title-hamburger-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $small-padding;
  border-bottom: 1px solid rgba(#4a4a4a, 0.3);
}

.menu-hamburger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-navigation-list a {
  width: 100%;
  padding: $medium-padding;
  text-decoration: none;
}

.title-hamburger-container a:hover {
  text-decoration: none;

  h1 {
    color: rgba(#222, 0.7);
  }
}

.navigation-list-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #169b4f;
}

.navigation-list-item a {
  color: #169b4f;
}

.navigation-list-item.has-children li:first-of-type {
  display: flex;
  flex-direction: column;
  padding: $medium-padding;
}

.navigation-list-item.has-children li {
  display: none;
}

.navigation-list-item.has-children.show-children li {
  display: flex;
}
