$x-small-screen: 480px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
$x-large-screen: 1200px;

$x-small-padding: 0.5rem;
$small-padding: 1rem;
$medium-padding: 1.5rem;
$large-padding: 2rem;
$x-large-padding: 2.5rem;
